// sass/parts/_header.scss

/* --------------------------- */
/* Footer                      */
/* --------------------------- */
.footer {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  padding: var(--section-padding);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer h3 {
  font-family: var(--font-family-h1);
}

.footer .address, .footer .quick-links {
  margin-bottom: 1.5rem;
}

.footer .quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .contact-information span {
  font-weight: bold;
  color: var(--color-primary);
}

.footer .social-media {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}