// sass/parts/_header.scss

/* --------------------------- */
/* Footer                      */
/* --------------------------- */
.footer {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  padding: var(--section-padding);
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer h3 {
  font-family: var(--font-family-h1);
}

.footer .footer-address, .footer .quick-links, .footer .contact-information ul {
  margin-bottom: 1.5rem;
}

.footer .quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .contact-information span {
  font-weight: bold;
  color: var(--color-primary);
}

.footer .contact-information .footer-hours {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer .contact-information svg {
  color: var(--color-primary);
}

.footer .contact-information .footer-phone, .footer .contact-information .footer-email, .footer .social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer .social-media{
  margin-top: 1.5rem;
}

.footer-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* -------------------- */
/* Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .footer .footer-container {
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 80rem;
  }

  .footer .footer-container > .polaroid-frame {
    flex: 1 1 0;
  }

  .footer .footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .footer .polaroid-frame img:last-of-type {
    width: 300px;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .footer .footer-links {
    display: flex;
    gap: 0;
    min-width: 0;
  }
}