// sass/parts/_footer.scss

/* -------------------- */
/* Footer Styles        */
/* -------------------- */
.footer {
  background-color: var(--color-placeholder-grey);
  margin: 0 auto;
  padding: 2rem;
  color: var(--color-white-off);

  .footer-top {
    display: flex;
    margin: 0 auto;
    max-width: 680px;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-brand {
    display: flex;

    a {
      min-width: max-content;
      padding: var(--spacing-md);
      padding-top: var(--spacing-sm);
    }

    p {
      margin-top: 0.5rem;
    }
  }

  .footer-links {
    display: flex;
    gap: 2rem;
  }

  .footer-column {
    h2 {
      margin-bottom: 0.75rem;
    }
  }

  .footer-nav,
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .footer-map {
    max-width: 680px;
    margin: 0 auto;
    width: 100%;
    height: 650px;
    border: 0;
  }
}
