/* -------------------- */
/* Footer Styles        */
/* -------------------- */
.footer {
  background-color: var(--color-placeholder-grey);
  margin: 0 auto;
  padding: 2rem 0;

  .footer-brand {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      min-width: max-content;
      padding: var(--spacing-md);
      padding-top: var(--spacing-sm);
    }

    p {
      margin-top: 0.5rem;
    }
  }

  .footer-links {
    display: flex;
    background-color: white;
    min-width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
  }

  .footer-column {
    text-align: left;
    h2 {
      margin-bottom: 0.75rem;
    }
  }

  .footer-nav,
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .footer-map {
    max-width: 780px; // align with footer content
    margin: 0 auto;
    width: 100%;
    height: 146px;
    padding: 1rem;
    border: 0;
  }
}

/* -------------------- */
/* Footer Banner Styling */
/* -------------------- */
footer {
  background: url('assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  text-align: left;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  gap: var(--spacing-md);
  flex-direction: column;
  div{
    color: var(--color-black);
    background-color: white;
    margin: var(--spacing-sm);
  }

  .footer-content {
    max-width: 1100px;     
    width: 100%;          
    margin: 0 auto;       
    display: flex;
    gap: var(--spacing-md);
    flex-direction: column;

    .front-banner-image {
      height: auto;
      display: block;
      padding: var(--spacing-md);
    }
  }

  // constrain inner container (like header)
  .footer-container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
