/* -------------------- */
/* Footer Styles        */
/* -------------------- */
footer {
  margin: 0 auto;
  padding: 2rem 0;
  
  .footer-brand {
    display: flex;
    align-items: center;
    text-align: center;
    
    p {
      margin-top: 0.5rem;
    }
  }
  
  .footer-links {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: white;
    padding: 1.2rem;
  }
  
  .footer-column {
    text-align: left;
    
    h2 {
      margin-bottom: 0.75rem;
    }
  }
  
  .footer-nav,
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      margin-bottom: 0.5rem;
    }
  }
  
  .footer-map {
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
    
    iframe {
      width: 100%;
      height: 180px;
      border: 0;
    }
  }


/* -------------------- */
/* Footer Banner Styling */
/* -------------------- */

  background: url('assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  
  /* ONLY direct section wrappers get the white cards */
  > .footer-brand,
  > .footer-links,
  > .footer-map {
    background-color: white;
    color: var(--color-black);
    padding: var(--spacing-md);
    width: 100%;
    max-width: 1100px;
    margin: var(--spacing-md);
    margin: var(--spacing-sm);
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  footer {
    flex-direction: row;
    justify-content: center; 

    .footer-brand,
    .footer-links,
    .footer-map {
      flex: 1;               
      height: auto;          
      max-width: 360px;      
    }

    .footer-map iframe {
      height: 480px;
    }

    .footer-brand{
      height: 480px;
      flex-direction: column;
      :first-child{
        width: 100%;
        height: 380px;
      }
    }
    .footer-links{
      height: 480px;
    }
  }
}

