// sass/parts/_header.scss

/* --------------------------- */
/* Footer                      */
/* --------------------------- */
.footer {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  padding: var(--section-padding);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-links{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}