// sass/parts/_header.scss

/* --------------------------- */
/* Footer                      */
/* --------------------------- */
.footer {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat;
  background-size: 390px 247px;
  background-position: center;
  padding: var(--section-padding);
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer h3 {
  font-family: var(--font-family-h1);
}

.footer .quick-links,
.footer .contact-information ul {
  margin-bottom: 1.5rem;
}

.footer .quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .quick-links a {
  position: relative;
  display: inline-block; /* keeps the underline only as wide as the text */
  padding-bottom: 4px;
}

/* underline element */
.footer .quick-links a::before {
  content: '';
  width: 0;
  height: 2px;
  background: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width .3s;
}

/* grow underline on hover */
.footer .quick-links a:hover::before {
  width: 100%;
}

/* active link styling */
.footer .quick-links a.active::before {
  width: 100%;
}

.footer .quick-links a.active {
  font-weight: bold;
  color: var(--color-primary);
}

.footer .contact-information .hours {
  font-weight: bold;
  color: var(--color-primary);
}

.footer .contact-information .footer-hours {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer .contact-information svg {
  color: var(--color-primary);
  margin-top: 6px;
  width: 15px;
  height: 15px;
}

.footer .contact-information .footer-phone svg {
  width: 14px;
  height: 14px;
}

.footer .contact-information a {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  position: relative;
  padding-bottom: 2px;

  transition: background-color .2s ease, transform .06s ease, box-shadow .2s ease;
}

.footer .contact-information a:hover {
  font-weight: bold;
  color: #C1121F;
}

.footer .contact-information a:hover svg {
  fill: #C1121F;
}

.footer .contact-information a:active {
  font-weight: bold;
  color: #C1121F;
}

.footer .contact-information a:active svg {
  fill: #C1121F;
}

.footer .contact-information .footer-phone,
.footer .contact-information .footer-email {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.footer .social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.footer .social-media svg {
  width: 17px;
  height: 17px;
}

.footer-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* -------------------- */
/* Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .footer .footer-container {
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 80rem;
  }

  .footer .footer-container>.polaroid-frame {
    flex: 1 1 0;
  }

  .footer .footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .footer .polaroid-frame img:last-of-type {
    width: 300px;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .footer .footer-links {
    display: flex;
    gap: 0;
    min-width: 0;
  }
}