/* -------------------- */
/* Global Styles        */
/* -------------------- */

:root {
    /* Colors */
    --color-placeholder-grey: #777;
    --color-white-off: #FFFDFA;
    --color-primary: #780000;
    --color-primary-hover: #888;
    --color-black: #111111;
    --color-outline-hover: #e0e0e0;

    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --border-radius: 0.5rem;
    --section-padding: clamp(4rem, 8vw, 7rem) 1rem;

    /* Typography sizes */
    --h1-size: clamp(2rem, 4vw, 3rem);
    --h2-size: 2.5rem;
    --h3-size: 1.5rem;
    --h4-size: 1rem;
    --p-size: 1rem;

    /* Typography fonts */
    --font-family-base: 'Arial', sans-serif;
    --font-family-h1: 'PlayFair Display', serif;
    --font-family-h2: 'Caveat', sans-serif;
    --font-family-h3: 'Lato', sans-serif;
    --font-family-h4: 'Arial', sans-serif;
    --font-family-p: 'Lato', sans-serif;
    --font-weight-bold: '700';
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 11rem;
}

body {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
    color: #333;
    line-height: var(--line-height-base);
    background: var(--color-white-off);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
    margin: 0;
    padding: 0;
}

/* Medias */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

/* Container */
.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* -------------------- */
/* Typography           */
/* -------------------- */
h1 {
    font-family: var(--font-family-h1);
    font-size: var(--h1-size);
    line-height: 1.2;
    font-weight: 600;
    max-width: 20ch;
}

h2 {
    font-family: var(--font-family-h2);
    font-size: var(--h2-size);
    line-height: 1.2;
    font-weight: 600;
}

h3 {
    font-family: var(--font-family-h3);
    font-size: var(--h3-size);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 1rem;
}

h4 {
    font-family: var(--font-family-h4);
    font-size: var(--h4-size);
    line-height: 1.5;
    font-weight: 600;
}

p {
    font-family: var(--font-family-p);
    font-size: var(--p-size);
    line-height: 1.5;
    max-width: 40rem;
}

/* --------------------------- */
/* Underline                   */
/* --------------------------- */
.underline {
    position: absolute;
    left: -9px;
    top: 40px;
    width: 100px;
    height: 100%;
    background: url('http://patricia-street-deli.local/wp-content/themes/style/assets/svg/heading-chalk.svg') no-repeat;
    background-size: contain;
}

.underline-2 {
    position: absolute;
    left: -9px;
    top: 40px;
    width: 100px;
    height: 100%;
    background: url('http://patricia-street-deli.local/wp-content/themes/style/assets/svg/heading-chalk-secondary.svg') no-repeat;
    background-size: contain;
}

/* -------------------- */
/* Buttons              */
/* -------------------- */

.button-solid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    width: fit-content;
    min-width: 9.375rem;
    height: clamp(2.875rem, 5.5vw, 3rem);
    padding-inline: 1.5rem;

    color: var(--color-white-off);
    background: var(--color-primary);
    border: 0;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    transition: background-color .2s ease, transform .06s ease, box-shadow .2s ease;
    will-change: transform;
}

.button-solid:hover {
    color: var(--color-white-off);
    background: #C1121F;
    border: 1px solid #C1121F;
}

.button-solid:active {
    transform: translateY(1px) scale(.99);
}

.button-solid:focus-visible {
    color: var(--color-white-off);
    background: #C1121F;
    border: 1px solid #C1121F;
}

.button-outline {
    color: var(--color-primary);
    background: #fff;
    border: 1px solid var(--color-primary);
}

/* -------------------- */
/* Banner Section       */
/* -------------------- */

.banner {
    background: url('../assets/svg/banner-bulletin-board.svg') repeat;
    background-size: 390px 247px;
    background-position: center;
    padding: var(--section-padding);
    padding-top: 7.5rem;
}

.banner .container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

// Desktop
@media only screen and (min-width: 64rem) {
    .banner {
        padding-top: 9.5rem;
    }
}

/* --------------------------- */
/* Frame                      */
/* --------------------------- */
.polaroid-frame {
    background-color: #fff;
    padding: 1rem;
    box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
}

.polaroid-frame img:first-of-type {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 0.5rem;
}

// Desktop
@media only screen and (min-width: 64rem) {
    .polaroid-frame {
        padding: 2rem;
    }

    .polaroid-frame img:last-of-type {
        width: 30%;
        height: auto;
        margin-left: 5rem;
    }
}

/* --------------------------- */
/* Forms                      */
/* --------------------------- */

form label {
    line-height: 1.5;
    font-weight: 700;
    margin: 1.5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

form input,
form select,
form textarea {
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid #B4B2C7;
    border-radius: 0.5rem;
    transition: border .3s;
}

form textarea {
    padding: 1rem;
    height: 7rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-family-p);
}

/* --------------------------- */
/* Back to top button                     */
/* --------------------------- */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;

    border: none;

    cursor: pointer;
    display: none;
    /* Hidden by default */
    z-index: 999;
}

// Desktop
@media only screen and (min-width: 64rem) {
    .backToTop.polaroid-frame {
        padding: 1rem;
    }
}