/* -------------------- */
/* ABOUT PAGE */
/* About Section        */
/* -------------------- */

/* Banner Title */
body{
    max-width: 100%;
}
.banner-about h1 {
    background-color: var(--color-placeholder-grey);
    color: var(--color-white-off);
    text-align: center;
    padding: var(--spacing-lg) 0;
    font-size: var(--h1-size);
}

/* Story Section */
.about-story{
    padding: var(--spacing-md);
}
.about-story img {
    max-width: 100%;
    display: block;
    margin: var(--spacing-md) auto;
    
}

.about-story {
    max-width: 680px;
    margin: var(--spacing-sm) auto;
}

/* Timeline Section */
.about-timeline {
    margin: 0 auto;
    margin-top: var(--spacing-lg);
}

.about-timeline {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 680px;

}

.about-timeline .timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: var(--spacing-lg);
    text-align: center;
    max-width: 680px;
    gap: 1rem;
}

.about-timeline .timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}



/* Kickstarter Section */
.about-kickstarter{
    max-width:680px;
    margin: var(--spacing-md) auto;
    padding: var(--spacing-md);
} 
.about-kickstarter img {
    margin: var(--spacing-md) auto;
    max-width: 100%;
    height: auto;
    display: block;
}


.about-kickstarter p {
    margin: var(--spacing-sm) 0;
}

/* Our Family Section */
.about-family{
    max-width: 680px;
    padding: var(--spacing-md);
    margin: var(--spacing-md) auto;
}
.about-family img {
    display: block;
    margin: var(--spacing-md) auto;
    max-width: 100%;
    border-radius: var(--border-radius);
}

.family-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.family-member img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: var(--spacing-sm);
}

/* Join Our Family */
.about-join {
    text-align: center;
    margin: var(--spacing-lg) 0;
}

.about-join .btn {
    margin-top: var(--spacing-sm);
}

.testimonial-scroll {
  display: flex;
  gap: var(--spacing-lg);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--spacing-md);
}

.testimonial-scroll::-webkit-scrollbar {
  display: none; 
}

.testimonial-scroll {
  scrollbar-width: none;
}

.testimonial .testimonial-item {
  flex: 0 0 70%;
  scroll-snap-align: start;
}
