// sass/pages/_about.scss

/* -------------------- */
/* About Page          */
/* -------------------- */

.about-page .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

// 
// Desktop
// 

@media only screen and (min-width: 64rem) {

  .humble-beginnings .container,
  .growth-success .container,
  .fire .container,
  .why-edmonton .container,
  .next-generation .container {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.5fr);
    column-gap: 2.5rem;
    align-items: start;
  }

  /* left */
  .humble-beginnings h2,
  .growth-success h2,
  .fire h2,
  .why-edmonton h2,
  .next-generation h2 {
    grid-column: 1;
    grid-row: 1;
  }

  .humble-beginnings .content,
  .growth-success .content,
  .fire .content,
  .why-edmonton .content,
  .next-generation .content {
    grid-column: 1;
    grid-row: 2;
  }

  /* right */
  .humble-beginnings .polaroid-frame,
  .growth-success .polaroid-frame,
  .fire .polaroid-frame,
  .why-edmonton .polaroid-frame,
  .next-generation .polaroid-frame {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    height: 25rem;
    padding-bottom: 3rem;
  }
}

/* -------------------- */
/* Timeline            */
/* -------------------- */
.timeline {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.timeline .container {
  gap: 1.5rem;
}

.timeline .timeline-img {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.timeline .polaroid-frame {
  position: relative;
  max-width: 70%;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* left */
.timeline .timeline-1,
.timeline .timeline-3,
.timeline .timeline-5 {
  margin-right: 30%;
}

/* right */
.timeline .timeline-2,
.timeline .timeline-4 {
  margin-left: 30%;
  margin-right: 0;
}

/* arrow */
.timeline .timeline-arrow {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}

// 
// Timeline - Desktop
// 

@media only screen and (min-width: 64rem) {
  .timeline .container {
    position: relative;
    /* adjust depending on content */
    min-height: 1600px;
  }

  .timeline-img {
    align-items: center;
    padding-top: 5rem;
  }

  .timeline .polaroid-frame {
    width: 45%;
    height: 25rem;
    position: absolute;
    padding-bottom: 3rem;

    cursor: pointer;
  }

  /* left */
  .timeline .timeline-1,
  .timeline .timeline-3,
  .timeline .timeline-5 {
    left: 0;
    margin-right: 0;
    transform: translateX(0);

    transition: transform .25s ease, box-shadow .25s ease;
  }

  /* right */
  .timeline .timeline-2,
  .timeline .timeline-4 {
    right: 0;
    margin-left: 0;
    transform: translateX(0);

    transition: transform .25s ease, box-shadow .25s ease;
  }

  /* left hovers */
  .timeline .timeline-1:hover,
  .timeline .timeline-3:hover,
  .timeline .timeline-5:hover {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
  }

  /* right hovers */
  .timeline .timeline-2:hover,
  .timeline .timeline-4:hover {
    transform: translateY(-10px) rotate(2deg);
    box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
  }

  /* left actives */
  .timeline .timeline-1:active,
  .timeline .timeline-3:active,
  .timeline .timeline-5:active {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
  }

  /* right actives */
  .timeline .timeline-2:active,
  .timeline .timeline-4:active {
    transform: translateY(-10px) rotate(2deg);
    box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
  }

  /* control gaps here */
  /* left */
  .timeline .timeline-1 {
    top: 5rem;
  }

  .timeline .timeline-3 {
    top: calc(5rem + 35rem);
  }

  .timeline .timeline-5 {
    top: calc(5rem + 70rem);
  }

  .timeline .timeline-2 {
    top: calc(5rem + (35rem / 2));
  }

  /* right */
  .timeline .timeline-4 {
    top: calc((5rem + 35rem) + (35rem / 2));
  }
}

/* -------------------- */
/* Humble Beginnings           */
/* -------------------- */
.humble-beginnings {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.humble-beginnings .container {
  gap: 1rem;
}

.humble-beginnings .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Our Growth and Success in Jasper           */
/* -------------------- */
.growth-success {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.growth-success .container {
  gap: 1rem;
}

.growth-success .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Fire           */
/* -------------------- */
.fire {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.fire .container {
  gap: 1rem;
}

.fire .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Why Edmonton           */
/* -------------------- */
.why-edmonton {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.why-edmonton .container {
  gap: 1rem;
}

.why-edmonton .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Next Generation: Dustin & Jaimie           */
/* -------------------- */
.next-generation {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.next-generation .container {
  gap: 1rem;
}

.next-generation .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Meet Our Family           */
/* -------------------- */
.meet-our-family {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.meet-our-family .container {
  gap: 1.5rem;
}

.meet-our-family .family-members {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.meet-our-family .family-member {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.meet-our-family .family-member-image {
  /* 1/3 of the width */
  flex: 1;
}

.meet-our-family .family-member-description {
  /* 2/3 of the width */
  flex: 2;
  display: flex;
  flex-direction: column;
}

.meet-our-family .family-member-description h3 {
  margin: 0;
}

.meet-our-family .family-member-description span {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

// 
// Meet Our Family - Desktop
// 

@media only screen and (min-width: 64rem) {
  .meet-our-family .family-members {
    flex-direction: row;
    gap: 2rem;
  }

  .meet-our-family .family-member {
    flex-direction: column;
    gap: 1.5rem;
  }

  .meet-our-family .family-member-description {
    flex: 0;
  }

  .meet-our-family .polaroid-frame {
    padding: 2rem;
    padding-bottom: 3.5rem;
    width: 100%;
    max-width: 406px;
    height: 330px;
  }

  .meet-our-family .polaroid-frame img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: 25%;
  }
}

/* -------------------- */
/* Join Our Family           */
/* -------------------- */
.join-our-family {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.join-our-family .container {
  gap: 1.5rem;
}

.join-our-family .button-solid {
  min-width: 17rem;
}

@media only screen and (min-width: 64rem) {
  .join-our-family .container {
  align-items: center;
  text-align: center;
}
}

/* -------------------- */
/* Testimonials           */
/* -------------------- */
.testimonials {
  background: var(--color-white-off);
  padding: var(--section-padding);
  overflow: hidden;
}

/* Track */
.testimonials-track {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 1rem;
}

.testimonials-track::-webkit-scrollbar {
  display: none;
}

/* Frame */
.testimonial {
  flex: 0 0 85%;
  background: #fff;
  padding: 1rem;
  box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
  scroll-snap-align: start;
  max-width: 44rem;
}

.testimonial p {
  margin-bottom: 1rem;
}

.testimonial .author {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-primary);
}

/* header row */
.testimonials-header {
  margin-bottom: 1.5rem;
}

/* hide buttons by default */
.testimonial-nav {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .testimonials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* show buttons on desktop and place in row */
  .testimonial-controls {
    display: flex;
    gap: 1rem;
  }

  .testimonial-nav {
    display: block;
    transform: none;
    background: var(--color-primary);
    color: var(--color-white-off);
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;

    transition: background-color .2s ease, transform .06s ease, box-shadow .2s ease;
  }

  .testimonials button:hover {
    color: var(--color-white-off);
    background: #C1121F;
}

.testimonials button:active {
    transform: translateY(1px) scale(.99);
}
}
