// sass/pages/_about.scss

/* -------------------- */
/* ABOUT PAGE           */
/* -------------------- */

/* Banner Title */
body {
  max-width: 100%;
}

.banner-about {
  h1 {
    background-color: var(--color-placeholder-grey);
    color: var(--color-white-off);
    text-align: center;
    padding: var(--spacing-lg) 0;
    font-size: var(--h1-size);
  }
}

/* About */
.about {
  padding: var(--spacing-md);
  max-width: 680px;
  margin: var(--spacing-sm) auto;

  img {
    max-width: 100%;
    display: block;
    margin: var(--spacing-md) auto;
  }
}

/* Humble Beginnings */
.about.humble-beginnings {
  background: #05e13c !important;
}

/* Join Our Family */
.about-join {
  text-align: center;
  margin: var(--spacing-lg) 0;

  .btn {
    margin-top: var(--spacing-sm);
  }
}

/* Testimonials */
.testimonial-scroll {
  display: flex;
  gap: var(--spacing-lg);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--spacing-md);

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  .testimonial-item {
    flex: 0 0 70%;
    scroll-snap-align: start;
  }
}
