// sass/pages/_about.scss

/* -------------------- */
/* ABOUT PAGE           */
/* -------------------- */

/* Banner Title */
body {
  max-width: 100%;
}

.banner-about {
  h1 {
    background-color: var(--color-placeholder-grey);
    color: var(--color-white-off);
    text-align: center;
    padding: var(--spacing-lg) 0;
    font-size: var(--h1-size);
  }
}

/* About */
.about {
  padding: var(--section-padding);
}

/* Humble Beginnings */
.about.humble-beginnings {
  background: var(--color-white-off);
}

/* Our Growth and Success in Jasper */
.about.growth-success {
  background: var(--color-primary);
  color: var(--color-white-off);
}

/* The Fire */
.about.fire {
  background: var(--color-white-off);
}

/* Why Edmonton */
.about.why-edmonton {
  background: var(--color-primary);
  color: var(--color-white-off);
}

/* The Next Generation: Dustin & Jaimie */
.about.next-generation {
  background: var(--color-white-off);
}

/* Join Our Family */
.about-join {
  text-align: center;
  margin: var(--spacing-lg) 0;

  .btn {
    margin-top: var(--spacing-sm);
  }
}

/* Testimonials */
.testimonial-scroll {
  display: flex;
  gap: var(--spacing-lg);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--spacing-md);

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  .testimonial-item {
    flex: 0 0 70%;
    scroll-snap-align: start;
  }
}
