// sass/pages/_about.scss

/* -------------------- */
/* About Page          */
/* -------------------- */

.about-page .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

// 
// Desktop
// 

@media only screen and (min-width: 64rem) {

  .humble-beginnings .container,
  .growth-success .container,
  .fire .container,
  .why-edmonton .container,
  .next-generation .container {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.5fr);
    column-gap: 2.5rem;
    align-items: start;
  }

  /* left */
  .humble-beginnings h2,
  .growth-success h2,
  .fire h2,
  .why-edmonton h2,
  .next-generation h2 {
    grid-column: 1;
    grid-row: 1;
  }

  .humble-beginnings .content,
  .growth-success .content,
  .fire .content,
  .why-edmonton .content,
  .next-generation .content {
    grid-column: 1;
    grid-row: 2;
  }

  /* right */
  .humble-beginnings .polaroid-frame,
  .growth-success .polaroid-frame,
  .fire .polaroid-frame,
  .why-edmonton .polaroid-frame,
  .next-generation .polaroid-frame {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
}

/* -------------------- */
/* Timeline            */
/* -------------------- */
.timeline {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.timeline .container {
  gap: 1.5rem;
}

.timeline .timeline-img {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.timeline .polaroid-frame {
  position: relative;
  max-width: 70%;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* left */
.timeline .timeline-1,
.timeline .timeline-3,
.timeline .timeline-5 {
  margin-right: 30%;
}

/* right */
.timeline .timeline-2,
.timeline .timeline-4 {
  margin-left: 30%;
  margin-right: 0;
}

/* arrow */
.timeline .timeline-arrow {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}

// 
// Timeline - Desktop
// 

@media only screen and (min-width: 64rem) {
  .timeline .container {
    position: relative;
    /* adjust depending on content */
    min-height: 1600px;
  }

  .timeline-img {
    align-items: center;
    padding-top: 5rem;
  }

  .timeline .polaroid-frame {
    width: 45%;
    height: 25rem;
    position: absolute;
    padding-bottom: 4rem;
  }

  /* left */
  .timeline .timeline-1,
  .timeline .timeline-3,
  .timeline .timeline-5 {
    left: 0;
    margin-right: 0;
    transform: translateX(0);
  }

  /* right */
  .timeline .timeline-2,
  .timeline .timeline-4 {
    right: 0;
    margin-left: 0;
    transform: translateX(0);
  }

  /* control gaps here */
  /* left */
  .timeline .timeline-1 {
    top: 5rem;
  }

  .timeline .timeline-3 {
    top: calc(5rem + 35rem);
  }

  .timeline .timeline-5 {
    top: calc(5rem + 70rem);
  }

  .timeline .timeline-2 {
    top: calc(5rem + (35rem / 2));
  }

  /* right */
  .timeline .timeline-4 {
    top: calc((5rem + 35rem) + (35rem / 2));
  }
}

/* -------------------- */
/* Humble Beginnings           */
/* -------------------- */
.humble-beginnings {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.humble-beginnings .container {
  gap: 1rem;
}

.humble-beginnings .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Our Growth and Success in Jasper           */
/* -------------------- */
.growth-success {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.growth-success .container {
  gap: 1rem;
}

.growth-success .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Fire           */
/* -------------------- */
.fire {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.fire .container {
  gap: 1rem;
}

.fire .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Why Edmonton           */
/* -------------------- */
.why-edmonton {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.why-edmonton .container {
  gap: 1rem;
}

.why-edmonton .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Next Generation: Dustin & Jaimie           */
/* -------------------- */
.next-generation {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.next-generation .container {
  gap: 1rem;
}

.next-generation .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Meet Our Family           */
/* -------------------- */
.meet-our-family {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.meet-our-family .container {
  gap: 1.5rem;
}

.meet-our-family .family-members {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meet-our-family .family-member {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.meet-our-family .family-member-image {
  /* 1/3 of the width */
  flex: 1;
}

.meet-our-family .polaroid-frame {
  padding: 0.25rem;
}

.meet-our-family .family-member-description {
  /* 2/3 of the width */
  flex: 2;
  display: flex;
  flex-direction: column;
}

.meet-our-family .family-member-description h3 {
  margin: 0;
}

.meet-our-family .family-member-description span {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

// 
// Meet Our Family - Desktop
// 

@media only screen and (min-width: 64rem) {
  .meet-our-family .family-members {
  flex-direction: row;
  gap: 2rem;
  }

  .meet-our-family .family-member {
  flex-direction: column;
  gap: 1.5rem;
}

.meet-our-family .polaroid-frame {
  padding: 2rem;
  padding-bottom: 3.5rem;
}

 .meet-our-family .polaroid-frame img:last-of-type {
    width: 50%;
    height: auto;
    margin-left: 2rem;
  }
}

/* -------------------- */
/* Join Our Family           */
/* -------------------- */
.join-our-family {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.join-our-family .container {
  gap: 1.5rem;
}

/* -------------------- */
/* Testimonials           */
/* -------------------- */
.testimonials {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.testimonials .container {
  gap: 1.5rem;
}

.testimonials .polaroid-frame {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials span {
  color: var(--color-primary);
  font-weight: bold;
}