// sass/pages/_about.scss

/* -------------------- */
/* ABOUT PAGE           */
/* -------------------- */

.about {
  padding: var(--section-padding);
}

.about .container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

/* -------------------- */
/* Timeline            */
/* -------------------- */
.about.timeline {
  background: var(--color-white-off);
}

.about.timeline .polaroid-frame {
  position: relative;
  max-width: 70%;
  margin: 1rem 0;
  z-index: 1;
}

/* Left side items */
.about.timeline .timeline-1,
.about.timeline .timeline-3,
.about.timeline .timeline-5 {
  margin-right: 30%;
  /* push them away from right side, toward left */
}

/* Right side items */
.about.timeline .timeline-2,
.about.timeline .timeline-4 {
  margin-left: 30%;
  /* push them away from left side, toward right */
  margin-right: 0;
}

/* Arrow in the center of the section */
.about.timeline .timeline-arrow {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}

/* -------------------- */
/* Humble Beginnings           */
/* -------------------- */
.about.humble-beginnings {
  background: var(--color-primary);
  color: var(--color-white-off);
}

/* -------------------- */
/* Our Growth and Success in Jasper           */
/* -------------------- */
.about.growth-success {
  background: var(--color-white-off);
}

/* -------------------- */
/* The Fire           */
/* -------------------- */
.about.fire {
  background: var(--color-primary);
  color: var(--color-white-off);
}

/* -------------------- */
/* Why Edmonton           */
/* -------------------- */
.about.why-edmonton {
  background: var(--color-white-off);
}

/* -------------------- */
/* The Next Generation: Dustin & Jaimie           */
/* -------------------- */
.about.next-generation {
  background: var(--color-primary);
  color: var(--color-white-off);
}

/* -------------------- */
/* Meet Our Family           */
/* -------------------- */
.about.meet-our-family {
background: var(--color-white-off);
}

.meet-our-family .family-member {
  display: flex;
  gap: 1rem;
}

.meet-our-family .family-member-image{
  width: 33%;
}

/* -------------------- */
/* Join Our Family           */
/* -------------------- */
.about.join-our-family{
background: var(--color-primary);
  color: var(--color-white-off);
}

/* -------------------- */
/* Testimonials           */
/* -------------------- */
.about.testimonials {
background: var(--color-white-off);
}