// sass/pages/_about.scss

/* -------------------- */
/* About Page          */
/* -------------------- */

/* -------------------- */
/* Timeline            */
/* -------------------- */
.timeline {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.timeline .container{
  gap: 1.5rem;
}

.timeline .polaroid-frame {
  position: relative;
  max-width: 70%;
  z-index: 1;
}

/* Left side items */
.timeline .timeline-1,
.timeline .timeline-3,
.timeline .timeline-5 {
  margin-right: 30%;
  /* push them away from right side, toward left */
}

/* Right side items */
.timeline .timeline-2,
.timeline .timeline-4 {
  margin-left: 30%;
  /* push them away from left side, toward right */
  margin-right: 0;
}

/* Arrow in the center of the section */
.timeline .timeline-arrow {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  pointer-events: none;
}

/* -------------------- */
/* Humble Beginnings           */
/* -------------------- */
.humble-beginnings {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.humble-beginnings .container{
  gap: 1rem;
}

.humble-beginnings .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Our Growth and Success in Jasper           */
/* -------------------- */
.growth-success {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.growth-success .container{
  gap: 1rem;
}

.growth-success .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Fire           */
/* -------------------- */
.fire {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.fire .container{
  gap: 1rem;
}

.fire .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Why Edmonton           */
/* -------------------- */
.why-edmonton {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.why-edmonton .container{
  gap: 1rem;
}

.why-edmonton .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* The Next Generation: Dustin & Jaimie           */
/* -------------------- */
.next-generation {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.next-generation .container{
  gap: 1rem;
}

.next-generation .polaroid-frame {
  margin: 0.5rem 0;
}

/* -------------------- */
/* Meet Our Family           */
/* -------------------- */
.meet-our-family {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.meet-our-family .container{
  gap: 1.5rem;
}

.meet-our-family .family-members {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meet-our-family .family-member {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.meet-our-family .family-member-image {
  /* 1/3 of the width */
  flex: 1;
}

.meet-our-family .polaroid-frame {
  padding: 0.25rem;
}

.meet-our-family .family-member-description {
  /* 2/3 of the width */
  flex: 2;
  display: flex;
  flex-direction: column;
}

.meet-our-family .family-member-description h3 {
  margin: 0;
}

.meet-our-family .family-member-description span {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

/* -------------------- */
/* Join Our Family           */
/* -------------------- */
.join-our-family {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: var(--section-padding);
}

.join-our-family .container{
  gap: 1.5rem;
}

/* -------------------- */
/* Testimonials           */
/* -------------------- */
.testimonials {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.testimonials .container{
  gap: 1.5rem;
}

.testimonials .polaroid-frame {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials span {
  color: var(--color-primary);
  font-weight: bold;
}