// sass/pages/_catering.scss

/* -------------------- */
/* Catering Page*/
/* -------------------- */

.catering {
  padding: var(--section-padding);
}

.catering .container {
  gap: 1.5rem;
}

.catering h2 {
  margin-bottom: 1.5rem;
}