// sass/pages/_catering.scss

/* -------------------- */
/* Contact Page*/
/* -------------------- */

.catering {
  padding: var(--section-padding);
}

.catering .container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}