// sass/pages/_contact.scss

/* -------------------- */
/* Contact Page*/
/* -------------------- */

.contact {
  padding: var(--section-padding);
}

/* -------------------- */
/* Contact Info */
/* -------------------- */

.contact .address {
  margin-bottom: 1rem;
}

.contact .contact-information span {
  font-weight: bold;
  color: var(--color-primary);
}

/* -------------------- */
/* Contact Form */
/* -------------------- */

.contact label {
    line-height: 1.5;
    font-weight: 700;
    margin: 1.5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact input, .contact select, .contact textarea {
  font-size: 1rem;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid #B4B2C7;
    border-radius: 0.5rem;
    transition: border .3s;
}

.contact textarea {
  padding: 1rem;
  height: 7rem;
      margin-bottom: 1.5rem;
      font-family: var(--font-family-p);
}