// sass/pages/_contact.scss

/* -------------------- */
/* Contact Page*/
/* -------------------- */

.contact {
  padding: var(--section-padding);
}

/* -------------------- */
/* Contact Info */
/* -------------------- */

.contact .address {
  margin-bottom: 1rem;
}

.contact .contact-information span {
  font-weight: bold;
  color: var(--color-primary);
}