// sass/pages/_contact.scss

/* -------------------- */
/* Contact Page*/
/* -------------------- */

.contact {
  padding: var(--section-padding);
}

.contact .container {
  gap: 1.5rem;
}

.contact h2 {
  margin-bottom: 1.5rem;
}

/* -------------------- */
/* Contact Info */
/* -------------------- */

.contact .address {
  margin-bottom: 1rem;
}

.contact .contact-information span {
  font-weight: bold;
  color: var(--color-primary);
}

// 
// Contact - Desktop
// 

@media only screen and (min-width: 64rem) {
  .contact .container {
  flex-direction: row;
  gap: 4rem;
}

.contact .contact-information {
  order: 1;
}

.contact .contact-form {
  order: 0;
}

.contact .contact-information,
  .contact .contact-form {
    flex: 1 1 50%;
  }
}