// sass/pages/_front-page.scss

/* -------------------- */
/* Home Page          */
/* -------------------- */

/* --------------------------- */
/* TOP NOTICE BAR (STICKY)     */
/* --------------------------- */
.top-notice {
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 14px;
  padding: calc(14px * 0.5) 1rem;
  box-sizing: border-box;
  position: absolute; // fixed at top
  top: 0;
  left: 0;
  z-index: 9999;

  .top-notice-content {
    max-width: 780px; // align with header content
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .notice-left,
  .notice-right {
    display: inline-block;
  }
}

/* --------------------------- */
/* Header Navigation           */
/* --------------------------- */

.home.header-navigation {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
    position: fixed;
    z-index: 10000;

    top: 3rem;
    left: 1rem;
    right: 1rem;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .home.header-navigation .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* -------------------- */
/* Header Navigation - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home.header-navigation {
    top: 4rem;
    left: 50%;
    width: 100%;
    max-width: 80rem;
    padding-right: 1rem;
  }
}

/* --------------------------- */
/* Home Banner                 */
/* --------------------------- */
.home-banner {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  padding: var(--section-padding);
  // how far it pushes it below the nav bar
  padding-top: 9.5rem;
}

.home-banner .container {
  gap: 1.5rem;
}

.home-banner .polaroid-frame {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.home-banner .buttons {
  display: flex;
  gap: 1rem;
}

/* -------------------- */
/* About                */
/* -------------------- */
.home-about {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-about .container{
  gap: 1.5rem;
}

.home-about .underline {
  width: 145px;
}

.home-about .polaroid-frame{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

/* -------------------- */
/* Menu                 */
/* -------------------- */

.home-menu {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.home-menu .container{
  gap: 1.5rem;
}

.home-menu .underline-2 {
  width: 225px;
}

.mfb-meta-field-block[data-field-name="menu_item_name"] {
  font-weight: bold;
}

/* -------------------- */
/* Order                */
/* -------------------- */
.home-order {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-order .container{
  gap: 1.5rem;
}

.home-order .underline {
  width: 260px;
}

/* -------------------- */
/* Catering             */
/* -------------------- */
.home-catering {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.home-catering .container{
  gap: 1.5rem;
}

.home-catering .underline-2 {
  width: 140px;
}

/* -------------------- */
/* Merch                */
/* -------------------- */
.home-merch {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-merch .container{
  gap: 1.5rem;
}

.home-merch .underline {
  width: 240px;
}
.woocommerce ul.products li.product .button{
  max-width: 0;
  max-height: 0;
  display: none;
}

/* -------------------- */
/* Testimonial          */
/* -------------------- */
.home-testimonials {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.home-testimonials .container{
  gap: 1.5rem;
}

.home-testimonials .underline-2 {
  width: 310px;
}

.home-testimonials .polaroid-frame {
  color: var(--color-black);
}

.home-testimonials .polaroid-frame {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-testimonials span {
  color: var(--color-primary);
  font-weight: bold;
}