// sass/pages/_front-page.scss

/* -------------------- */
/* Home Page          */
/* -------------------- */

/* --------------------------- */
/* TOP NOTICE BAR (STICKY)     */
/* --------------------------- */
.top-notice {
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 14px;
  padding: calc(14px * 0.5) 1rem;
  box-sizing: border-box;
  position: absolute; // fixed at top
  top: 0;
  left: 0;
  z-index: 9999;

  .top-notice-content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  svg {
    width: 14px;
    height: 14px;
  }

  a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    padding-bottom: 2px;
  }

  a:hover:before {
    width: 100%;
  }

  a.active:before {
    width: 100%;
  }

  a:before {
    content: '';
    width: 0;
    height: 1px;
    background: var(--color-white-off);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width .3s;
  }

  a.active {
    font-weight: bold;
    color: var(--color-white-off);
  }
}

@media only screen and (min-width: 64rem) {
  .top-notice .top-notice-content {
    justify-content: flex-start;
    gap: 3rem;
  }
}

/* --------------------------- */
/* Header Navigation           */
/* --------------------------- */

.home.header-navigation {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
  position: fixed;
  z-index: 10000;

  top: 3rem;
  left: 1rem;
  right: 1rem;
  width: auto;
  margin: 0;
  padding: 0;

  // move up when scrolled cause of alert
  transition: top 0.3s ease;
}

body.scroll .home.header-navigation {
  top: calc(4rem - 31px);
}

.home.header-navigation .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* -------------------- */
/* Header Navigation - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  body.open {
    overflow: visible;
  }

  .home.header-navigation {
    top: 4rem;
    left: 50%;
    width: 100%;
    max-width: 80rem;
    padding-right: 2rem;
  }
}

/* --------------------------- */
/* Home Banner                 */
/* --------------------------- */
.home-banner {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat;
  background-size: 390px 247px;
  background-position: center;
  padding: var(--section-padding);
  // how far it pushes it below the nav bar
  padding-top: 9.5rem;
}

.home-banner .container {
  gap: 1.5rem;
}

.home-banner h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  line-height: 1;
  margin-top: 1rem;
}

.home-banner .text {
  margin: 1.5rem 0;
}

.home-banner .polaroid-frame {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.home-banner .buttons {
  display: flex;
  gap: 1rem;
}

.home-banner .doodle {
  display: none !important;
}

/* -------------------- */
/* Home Banner - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home-banner {
    padding-top: 12rem;
  }

  .home-banner .container {
    flex-direction: row;
    gap: 2rem;
  }

  .home-banner .container>div {
    order: 0;
    justify-content: flex-end;
  }

  .home-banner .container>img {
    order: 1;
    width: 856px;
  }

  .home-banner .polaroid-frame {
    padding: 2rem;
  }

  .home-banner .doodle {
    display: block !important;
    object-fit: unset !important;
    margin: 0 auto !important;
    transform: rotate(-6deg);
  }
}

/* -------------------- */
/* About                */
/* -------------------- */
.home-about {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-about .container {
  gap: 1.5rem;
}

.home-about .underline {
  width: 145px;
}

.home-about .polaroid-frame {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.home-about .polaroid-frame img:last-of-type {
  width: 30%;
  height: auto;
  margin-left: 5rem;
}

.home-about .button-solid {
  min-width: 17rem;
}

/* -------------------- */
/* About - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home-about .container {
    display: grid;
    // image left content right
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 4rem;
    row-gap: 1.5rem;
    align-items: center;
  }

  /* left */
  .home-about .container>.polaroid-frame {
    grid-column: 1;
    grid-row: 1 / span 5;
    // height: 20rem;
    padding-bottom: 1rem;
  }

  /* right */
  .home-about .container>h2,
  .home-about .container>p,
  .home-about .container>a.button-solid {
    margin: 0;
  }

  .home-about .container>h2 {
    grid-column: 2;
    grid-row: 2;
  }

  .home-about .container>p {
    grid-column: 2;
    grid-row: 3;
  }

  .home-about .container>a.button-solid {
    grid-column: 2;
    grid-row: 4;
  }

  .home-about .polaroid-frame img:first-of-type {
    object-position: 50% 15%;
  }
}

/* -------------------- */
/* Menu                 */
/* -------------------- */

.home-menu {
  padding: var(--section-padding);
    color: var(--color-white-off);
    background: var(--color-primary);

  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300'%3E%3Cfilter id='grain' x='0' y='0' width='100%25' height='100%25'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='5' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)' opacity='0.55'/%3E%3C/svg%3E");

  // background-color: #780000;
  // background-blend-mode: color;

  // background-size: 300px 300px;
  // background-position: center;
  // background-repeat: repeat;
  // background-attachment: fixed;

}


.home-menu .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
}

.home-menu .menu-category-name {
  margin: 1.5rem 0 0.5rem;
}

.home-menu .menu-category-description {
  margin-bottom: 1.5rem;
}

.home-menu .menu-category-items ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-menu .menu-item-name {
  margin-bottom: 0.375rem;
  line-height: 1.5;
}

.home-menu .menu-item-name>.is-acf-field>.value {
  font-weight: bold;
}

.home-menu .menu-item-price .prefix {
  display: none;
}

.home-menu .menu-item-description {
  font-size: 0.875rem;
  margin-top: 0.375rem;
  border-bottom: 1px solid #FFFDFA33;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}

.home-menu .button-solid {
  margin-top: 2rem;
  min-width: 17rem;
}

/* -------------------- */
/* Desktop       */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home-menu .menu-top-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
  }

  .home-menu .menu-bottom-row ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
  }
}

/* -------------------- */
/* Order                */
/* -------------------- */
.home-order {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-order .container {
  gap: 1.5rem;
}

.home-order .underline {
  width: 260px;
}

.home-order .button-solid {
  min-width: 17rem;
}

.home-order .doodle {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .home-order .container {
  align-items: center;
  text-align: center;
}
}

.home-order {
  position: relative;
  padding: var(--section-padding);
  background: var(--color-white-off);
  overflow: hidden; /* keeps doodles from causing scrollbars */
}

/* Shared doodle styling */
.home-order .doodle {
  position: absolute;
  top: 1%;
  transform: translateY(-50%);
  width: 18rem;
  opacity: 0.15;
  z-index: 0;
  pointer-events: none;
}

/* Left doodle */
.home-order .doodle-left {
  left: 4rem; /* push off-screen slightly */
}

/* Right doodle */
.home-order .doodle-right {
  right: 8rem;
}

.home-order .container {
  position: relative;
  z-index: 1; /* ensure text sits over the doodles */
  gap: 1.5rem;
}

/* Larger screens — adjust for better aesthetics */
@media (min-width: 64rem) {

  .home-order .doodle {
  display: block;
}
  .home-order .doodle {
    width: 22rem;
    transform: rotate(2deg);
  }

  .home-order .doodle-left {
    left: 4rem;
    transform: rotate(-2deg);
  }

  .home-order .doodle-right {
    right: 8rem;
  }

  .home-order .container {
    align-items: center;
    text-align: center;
  }
}


/* -------------------- */
/* Catering             */
/* -------------------- */
.home-catering {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.home-catering .container {
  gap: 1.5rem;
}

.home-catering .underline-2 {
  width: 140px;
}

.home-catering .button-solid {
  min-width: 17rem;
}

@media only screen and (min-width: 64rem) {
  .home-catering .container {
  align-items: center;
  text-align: center;
}
}

/* -------------------- */
/* Merch                */
/* -------------------- */
.home-merch {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.home-merch .container {
  gap: 1.5rem;
}

.home-merch .underline {
  width: 240px;
}

.home-merch .merch-item {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.home-merch .merch-item h2 {
  font-family: var(--font-family-p);
}

.home-merch .merch-item img:first-of-type {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
  margin-bottom: 0.5rem !important;
}

.home-merch .woocommerce ul.products[class*="columns-"] li.product,
.woocommerce-page ul.products[class*="columns-"] li.product {
  width: 100%;
  float: none;
  margin: 0;
}

.home-merch .woocommerce ul.products {
  margin: 0;
}

.home-merch li {
  background-color: #fff;
  padding: 1rem !important;
  box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
  max-width: 30rem;
  transition: transform .25s ease, box-shadow .25s ease;
}

.home-merch li:hover {
  transform: translateY(-10px) rotate(2deg);
  box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
}

.home-merch li:active {
  transform: translateY(-10px) rotate(2deg);
  box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
}

.home-merch li img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
}

// Desktop
@media only screen and (min-width: 64rem) {
  .home-merch li {
    margin: 0;
    padding: 2rem;
  }

  .home-merch li img:last-of-type {
    width: 30%;
    height: auto;
    margin-left: 5rem;
  }
}

.home-merch .button {
  display: none !important;
}

.home-merch .button-solid {
  min-width: 17rem;
  margin-top: 0.75rem;
}

.home-merch .doodle {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .home-merch .container {
  align-items: center;
  text-align: center;
}
}

.home-merch {
  position: relative;
  padding: var(--section-padding);
  background: var(--color-white-off);
  overflow: hidden; /* keeps doodles from causing scrollbars */
}

/* Shared doodle styling */
.home-merch .doodle {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 18rem;
  opacity: 0.15;
  z-index: 0;
  pointer-events: none;
}

/* Left doodle */
.home-merch .doodle-left {
  left: 4rem; /* push off-screen slightly */
}

/* Right doodle */
.home-merch .doodle-right {
  right: 8rem;
}

.home-merch .container {
  position: relative;
  z-index: 1; /* ensure text sits over the doodles */
  gap: 1.5rem;
}

/* Larger screens — adjust for better aesthetics */
@media (min-width: 64rem) {

  .home-merch .doodle {
  display: block;
}
  .home-merch .doodle {
    width: 22rem;
    transform: rotate(6deg);
  }

  .home-merch .doodle-left {
    left: 4rem;
    transform: rotate(-2deg);
  }

  .home-merch .doodle-right {
    right: 8rem;
  }

  .home-merch .container {
    align-items: center;
    text-align: center;
  }
}

/* -------------------- */
/* Merch - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home-merch h2 {
    text-align: center;
  }

  .home-merch .merch-item {
  margin: 0 auto;
}

  .home-merch .button-solid {
    margin: 3rem auto 0;
  }
}

/* -------------------- */
/* Testimonial          */
/* -------------------- */
.home-testimonials {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.home-testimonials .container {
  gap: 1.5rem;
}

.home-testimonials .underline-2 {
  width: 310px;
}

.home-testimonials .polaroid-frame {
  color: var(--color-black);
}

.home-testimonials .polaroid-frame {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 44rem;
}

.home-testimonials span {
  color: var(--color-primary);
  font-weight: bold;
}

/* -------------------- */
/* Testimonial - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
  .home-testimonials h2 {
    text-align: center;
  }

  .home-testimonials .polaroid-frame {
    margin: 0 auto;
    max-width: 44rem;
  }
}