// sass/pages/_front-page.scss

/* --------------------------- */
/* TOP NOTICE BAR (STICKY)     */
/* --------------------------- */
.top-notice {
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 14px;
  padding: calc(14px * 0.5) 1rem;
  box-sizing: border-box;
  position: absolute; // fixed at top
  top: 0;
  left: 0;
  z-index: 9999;

  .top-notice-content {
    max-width: 780px; // align with header content
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .notice-left,
  .notice-right {
    display: inline-block;
  }
}

/* --------------------------- */
/* Header Navigation           */
/* --------------------------- */

.site-header {
  position: fixed;
  z-index: 10000;
  top: calc(1rem + 31px);
}

/* --------------------------- */
/* Home Banner                 */
/* --------------------------- */
.home-banner {
  background: url('../assets/svg/banner-bulletin-board.svg') repeat center center;
  background-size: cover;
  padding: var(--section-padding);
  padding-top: 10rem;
}

.home-banner .polaroid-frame {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.home-banner .buttons {
  display: flex;
  gap: 1rem;
}

/* -------------------- */
/* About                */
/* -------------------- */
.about {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.about .underline {
  width: 145px;
}

.about .polaroid-frame{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

/* -------------------- */
/* Menu                 */
/* -------------------- */
.mfb-meta-field-block[data-field-name="menu_item_name"] {
  font-weight: bold;
}

.menu {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.menu .underline-2 {
  width: 225px;
}

/* -------------------- */
/* Order                */
/* -------------------- */
.order {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.order .underline {
  width: 260px;
}

/* -------------------- */
/* Catering             */
/* -------------------- */
.catering {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.catering .underline-2 {
  width: 140px;
}

/* -------------------- */
/* Merch                */
/* -------------------- */
.merch {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.merch .underline {
  width: 240px;
}
.woocommerce ul.products li.product .button{
  max-width: 0;
  max-height: 0;
  display: none;
}

/* -------------------- */
/* Testimonial          */
/* -------------------- */
.testimonial {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.testimonial .underline-2 {
  width: 310px;
}

// .feedback-text,.feedback-author{
//   color: var(--color-black)
// }
.testimonial .polaroid-frame {
  color: var(--color-black);
}
.feedback-author{
  ::before{
    content: "- ";
  }
}