// sass/pages/_front-page.scss

/* -------------------- */
/* Home About Section   */
/* -------------------- */
.home-about {
  img {
    margin: var(--spacing-md) auto;
  }
}

/* -------------------- */
/* Home Menu Section   */
/* -------------------- */
.mfb-meta-field-block[data-field-name="menu_item_name"] {
  font-weight: bold;
}

/* -------------------- */
/* Home Order Section   */
/* -------------------- */
/* Add styles here in the future */

/* -------------------- */
/* Home Catering Section   */
/* -------------------- */
/* Add styles here in the future */

/* -------------------- */
/* Home Featured Merch Section   */
/* -------------------- */
/* Add styles here in the future */

/* -------------------- */
/* Home Featured Testimonial Section   */
/* -------------------- */
/* Add styles here in the future */
