// sass/pages/_menu.scss

/* -------------------- */
/* Menu Page     */
/* -------------------- */

/* -------------------- */
/* Menu Nav     */
/* -------------------- */

.menu-nav {
  position: sticky;
  top: 7.5rem; // where it'll start and stop
  margin: 1rem 1rem 0;

  z-index: 10;

  display: flex;
  gap: 1rem;
  max-width: 80rem;
  align-items: center;

  transition: top 0.3s ease;
}

.menu-nav svg {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.menu-nav ul {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  // horizontal scroll
  overflow-x: auto;
  white-space: nowrap;
}

.menu-nav::-webkit-scrollbar {
  display: none;
}

/* active state */
.menu-nav a {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: inherit;
  text-decoration: none;
}

.menu-nav a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width .3s;
}

.menu-nav a:hover:before {
  width: 100%;
}

.menu-nav a.active:before {
  width: 100%;
}

.menu-nav a.active {
  font-weight: bold;
  color: var(--color-primary);
}

// 
// Menu Nav - Desktop
// 

@media only screen and (min-width: 64rem) {
  .menu-nav {
    margin: 1rem auto 0;

    top: 9.5rem;
    max-width: 80rem;
  }
}

/* -------------------- */
/* Order Button     */
/* -------------------- */
.menu-button-solid {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border: 1px solid #fff;
}

/* -------------------- */
/* Grab & Go     */
/* -------------------- */

.grab-and-go {
  background: var(--color-white-off);
  padding: var(--section-padding);
}

.wp-block-query {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-md);

  .wp-block-group {
    border-radius: var(--border-radius);
    padding: var(--spacing-md);

    .wp-block-group.alignwide {
      display: flex;
      justify-content: space-between;

      .wp-block-group {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
      }

      img {
        min-width: 100%;
        height: auto;
        border-radius: var(--border-radius);
      }
    }
  }
}


.build-your-own {
  background: var(--color-primary);
  color: var(--color-white-off);
  padding: 0;
  font-weight: bold;
  margin: var(--spacing-md) 0;

  .container {
    padding: var(--section-padding);
  }


  .build-your-own-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    align-items: stretch;
    padding-top: 1.5rem;




    >div {
      display: flex;
      width: 200px;
      flex-direction: column;
      min-height: 100%; // stretch to row height

      >svg {
        padding: var(--spacing-sm) 0;
        height: max-content;
      }
    }

    >div {
      h3 {
        font-family: var(--font-family-h3);
        font-weight: bolder;
        font-size: var(--h3-size);
        margin-bottom: var(--spacing-sm);
        color: var(--color-white-off);
      }

      .wp-block-query {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        [data-field-name="name_of_the_ingredient"] {
          font-family: var(--font-family-p);
          font-size: var(--p-size);
          color: var(--color-white-off);
          margin: 0;
        }
      }

      // menu ingredient description styles
      >div .menu-ingredient-description div {
        font-family: var(--font-family-p);
        font-size: var(--p-size);
        color: var(--color-white-off);
        margin: 0 0 var(--spacing-sm) 0;
        font-weight: normal;
      }

      // SVG divider after each category except the last one
      // &:not(:last-child)::after {
      //   content: '';
      //   display: block;
      //   width: 100%;
      //   height: 24px; // adjust as needed
      //   margin: var(--spacing-md) 0;
      //   background-image: url('https://patriciastreetdeli.ca/dev/team1/wp-content/themes/style/assets/svg/heading-chalk-secondary.svg');
      //   background-repeat: no-repeat;
      //   background-position: bottom center;
      //   background-size: contain;
      // }
    }

    @media (min-width: 600px) {
      > div{
        width: unset;
      }
      grid-template-columns: repeat(2, 1fr);
    }
  }
}