// sass/pages/_menu.scss

/* -------------------- */
/* Menu Page     */
/* -------------------- */

/* -------------------- */
/* Menu Nav     */
/* -------------------- */

.menu-nav {
  position: sticky;
  top: 7.5rem; // where it'll start and stop
  margin: 1rem 1rem 0;

  z-index: 10;

  display: flex;
  gap: 1rem;
  max-width: 80rem;
  align-items: center;

  transition: top 0.3s ease;

  padding: 0 1rem;
}

.menu-nav svg {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.menu-nav ul {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  // horizontal scroll
  overflow-x: auto;
  white-space: nowrap;
  padding: 1.25rem 0;
}

/* Hide horizontal scrollbar (Chrome, Safari, Edge) */
.menu-nav ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.menu-nav ul {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge (old) */
}

/* active state */
.menu-nav a {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: inherit;
  text-decoration: none;
}

.menu-nav a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width .3s;
}

.menu-nav a:hover:before {
  width: 100%;
}

.menu-nav a.active:before {
  width: 100%;
}

.menu-nav a.active {
  font-weight: bold;
  color: var(--color-primary);
}

// 
// Menu Nav - Desktop
// 

@media only screen and (min-width: 64rem) {
  .menu-nav {
    margin: 1rem auto 0;

    top: 9.5rem;
    max-width: 80rem;
  }
}

/* -------------------- */
/* Order Button     */
/* -------------------- */
.menu-button-solid {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border: 1px solid #fff;
}

/* -------------------- */
/* Menu     */
/* -------------------- */

.menu-page .menu-category-name {
  margin: 1.5rem 0 0.5rem;
}

.menu-page .menu-category-description {
  margin-bottom: 1.5rem;
}

.menu-page .menu-category-items ul {
display: flex;
flex-direction: column;
gap: 1rem;
}

.menu-page .menu-item-name {
  margin-bottom: 0.375rem;
  line-height: 1.5;
}

.menu-page .menu-item-name>.is-acf-field>.value {
  font-weight: bold;
}

.menu-page .menu-item-price .prefix {
  display: none;
}

.menu-page .menu-item-description {
  font-size: 0.875rem;
  margin-top: 0.375rem;
  border-bottom: 1px solid #FFFDFA33;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}

.menu-page .button-solid {
  margin-top: 2rem;
  min-width: 17rem;
}

/* -------------------- */
/* What We're Serving           */
/* -------------------- */

.what-were-serving {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.what-were-serving .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
}

.what-were-serving .menu-item-description {
  border-bottom: 1px solid #000D0A33;
}

@media only screen and (min-width: 64rem) {
.what-were-serving .menu-top-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}  

.what-were-serving .menu-bottom-row ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
}  
}

/* -------------------- */
/* Build Your Own           */
/* -------------------- */

.build-your-own {
  padding: var(--section-padding);
  background: var(--color-primary);
  color: var(--color-white-off);
}

.build-your-own li {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 64rem)  {
  .build-your-own .ingredients ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
  }
}