/* -------------------- */
/* Merch                */
/* -------------------- */

.merch {
  padding: var(--section-padding);
  background: var(--color-white-off);
}

.merch .underline {
  width: 240px;
}

.merch .merch-item {
    margin-top: 1.5rem;
}

.merch .merch-item h2 {
  font-family: var(--font-family-p);
}

.merch .merch-item img:first-of-type {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
  margin-bottom: 0.5rem !important;
}

.merch ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.merch .woocommerce ul.products::before {
    display: none;
}

.merch .woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
  width: 100%;
  float: none;
  margin: 0;
}

.merch .woocommerce ul.products {
margin: 0;
}

.merch {
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    width: fit-content;
    min-width: 9.375rem;
    height: clamp(2.875rem, 5.5vw, 3rem);
    padding-inline: 1.5rem;

    color: var(--color-white-off);
    background: var(--color-primary);
    border: 0;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    transition: background-color .2s ease, transform .06s ease, box-shadow .2s ease;
    will-change: transform;
}

.button:hover {
    color: var(--color-white-off);
    background: #C1121F;
    border: 1px solid #C1121F;
}

.button:active {
    transform: translateY(1px) scale(.99);
}

.button:focus-visible {
    color: var(--color-white-off);
    background: #C1121F;
    border: 1px solid #C1121F;
}
}

.added_to_cart.wc-forward {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-left: 1.5rem;
  background-image: url('https://patriciastreetdeli.ca/dev/team1/wp-content/themes/style/assets/svg/icon-cart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* visually hide the text but keep it for screen readers */
  color: transparent;
  font-size: 0;

}


/* -------------------- */
/* Merch - Desktop           */
/* -------------------- */

@media only screen and (min-width: 64rem) {
.merch ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
}

}

/* --------------------------- */
/* Frame                      */
/* --------------------------- */
.merch li {
    background-color: #fff;
    padding: 1rem !important;
    box-shadow: rgba(10, 0, 0, 0.55) 0px 4px 8px;
    max-width: 30rem;
  transition: transform .25s ease, box-shadow .25s ease;
}

.merch li:hover {
  transform: translateY(-10px) rotate(2deg);
  box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
}

.merch li:active {
  transform: translateY(-10px) rotate(2deg);
  box-shadow: rgba(10, 0, 0, 0.45) 0px 12px 20px;
}

.merch li img:first-of-type {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 0.5rem;
}

// Desktop
@media only screen and (min-width: 64rem) {
    .merch li {
        padding: 2rem;
    }

    .merch li img:last-of-type {
        width: 30%;
        height: auto;
        margin-left: 5rem;
    }
}