<header>
  <!-- wp:template-part {"slug":"header"} /-->
</header>

<main>
  <section>
    <h1>About</h1>
    <section>
      <h2>Story</h2>
      <img src="https://placehold.co/100" alt="Story Image">
      <p>Paragraph</p>
      <p>Paragraph</p>
    </section>
    <hr>
    <section>
      <h2>Timeline</h2>
      <div>
        <img src="https://placehold.co/100" alt="Timeline Image">
        <p>Paragraph</p>
      </div>
      <div>
        <p>Paragraph</p>
        <img src="https://placehold.co/100" alt="Timeline Image">
      </div>
        <div>
        <img src="https://placehold.co/100" alt="Timeline Image">
        <p>Paragraph</p>
      </div>
      <div>
        <p>Paragraph</p>
        <img src="https://placehold.co/100" alt="Timeline Image">
      </div>
        <div>
        <img src="https://placehold.co/100" alt="Timeline Image">
        <p>Paragraph</p>
      </div>
      <div>
        <p>Paragraph</p>
        <img src="https://placehold.co/100" alt="Timeline Image">
      </div>
  
    </section>
    <hr>
    <section>
      <h2>Kickstarter</h2>
      <img src="https://placehold.co/100" alt="Kickstarter Image">
      <p>Paragraph</p>
      <p>Paragraph</p>
    </section>
    <hr>
    <section>
      <h2>Our Family</h2>
      <img src="https://placehold.co/100" alt="Family Image">
      <p>Paragraph</p>
      <div>
        <h3>Wendy & Glen</h3>
        <img src="https://placehold.co/100" alt="Wendy & Glen">
        <p>Paragraph</p>
      </div>
      <div>
        <h3>Jaimie</h3>
        <img src="https://placehold.co/100" alt="Jaimie">
        <p>Paragraph</p>
      </div>
      <div>
        <h3>Dustin</h3>
        <img src="https://placehold.co/100" alt="Dustin">
        <p>Paragraph</p>
      </div>
      <div>
        <h3>Jenna</h3>
        <img src="https://placehold.co/100" alt="Jenna">
        <p>Paragraph</p>
      </div>
    </section>
    <hr>
    <section>
      <h2>Join Our Family</h2>
      <p>Paragraph</p>
      <a href="/contact/">Join Our Family</a>
    </section>
    <hr>
    <section>
      <h2>Testimonials</h2>
      <div>
        <p>paragpraph</p>
        <p>name</p>
      </div>
        <div>
        <p>paragpraph</p>
        <p>name</p>
      </div>
        <div>
        <p>paragpraph</p>
        <p>name</p>
      </div>
    </section>
  </section>
</main>

<footer>
  <!-- wp:template-part {"slug":"footer"} /-->
</footer>
