<header>
  <!-- wp:template-part {"slug":"header"} /-->
</header>
<div>
  <div>
    <h1 >Handcrafted Sandwiches, made with heart</h1>
    <p>From Jasper to Edmonton, rebuilding together, one great sandwich at a time.</p>
    <div>
      <a href="https://patricia-street-deli.local/about/" style="border-radius:1rem;font-size:1rem">Our story</a>
      <a  href="https://patricia-street-deli.local/menu/" style="border-radius:1rem;font-size:1rem">Our menu</a>
    </div>
  </div>



  <div>
    <h2 >About Us</h2>
    <img src="https://placehold.co/100" alt="place holder image">
    <p>parapragh 1</p>

    <div>
      <img src="https://placehold.co/100" alt="place holder image">

      <p>parapragh 2</p>
    </div>
    <a href="https://patricia-street-deli.local/about/">Meet Our Family</a>
  </div>
<hr>
  <div>
    <a href="#">Request Catering</a>
    <a href="#">Merch Store</a>
    <a href="#">Order Now`</a>
    <a href="#">Contact Us</a>
  </div>
<hr>
  <div>
    <h2>Menu Highlights</h2>
    <div>
      <h3>Grab & Go Sandwiches</h3>
      <p>paragraph</p>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
    </div>
    <div>
      <h3>Build Your Own Sandwich</h3>
      <p>paragraph</p>
    </div>
    
    <a href="https://patricia-street-deli.local/menu/">View Our Full Menu</a>
  </div>

  <div>
    <h2>Featured Testimonial</h2>
    <p>paragpraph</p>
    <p>name</p>
  </div>

  <div>
    <h2>Order With Toast</h2>
    <p>pragraph</p>
    <a href="http://patricia-street-deli.local/order/" style="border-radius:1rem;">Order Now</a>
  </div>

<footer>
  <!-- wp:template-part {"slug":"footer"} /-->
</footer>
