<header>
  <!-- wp:template-part {"slug":"header"} /-->
</header>
<div>
  <section>
    <h1>Handcrafted Sandwiches, made with heart</h1>
    <p>From Jasper to Edmonton, rebuilding together, one great sandwich at a time.</p>
    <div>
      <a href="/about/" style="border-radius:1rem;font-size:1rem">Our story</a>
      <a href="/menu/" style="border-radius:1rem;font-size:1rem">Our menu</a>
    </div>
  </section>



  <section>
    <h2>About Us</h2>
    <img src="https://placehold.co/100" alt="place holder image">
    <p>parapragh 1</p>
    <div>
      <img src="https://placehold.co/100" alt="place holder image">
      <p>parapragh 2</p>
    </div>
    <a href="https://patricia-street-deli.local/about/">Meet Our Family</a>
  </section>
  <hr>
  <section>
    <h2>Featured Menu</h2>
    <div>
      <h3>Grab & Go Sandwiches</h3>
      <p>paragraph</p>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
      <div>
        <h4>menu item name</h4>
        <p>menu item description</p>
        <img src="https://placehold.co/100" alt="">
      </div>
    </div>
    <div>
      <h3>Build Your Own Sandwich</h3>
      <p>paragraph</p>
    </div>

    <a href="/menu/">View Our Full Menu</a>
  </section>

  <hr>

  <section>
    <h2>Order With Toast</h2>
    <p>pragraph</p>
    <a href="/order/" style="border-radius:1rem;">Order Now</a>
  </section>

  <hr>

  <section>
    <h2>Catering</h2>
    <p>pragraph</p>
    <a href="/catering/" style="border-radius:1rem;">Inquire About Catering</a>
  </section>

  <hr>  
  
  <section>
    <h2>Featured Merch</h2>
    <img src="https://placehold.co/100" alt="">
    <p>pragraph<span>price</span></p>
    <a href="/merch/">View All Merch</a>
  </section>

  <hr>

  <section>
    <h2>Featured Testimonial</h2>
    <p>paragpraph</p>
    <p>price</p>
    
  </section>


  <footer>
    <!-- wp:template-part {"slug":"footer"} /-->
  </footer>