<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"banner"},"style":{"spacing":{"padding":{"top":"1rem","bottom":"1rem","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"textColor":"black-off","layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group has-black-off-color has-text-color" style="padding-top:1rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:1rem;padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"level":1,"className":"wp-block-heading has-crimson-text-font-family has-h1-lg-font-size","fontSize":"h1-lg"} -->
<h1 class="wp-block-heading has-crimson-text-font-family has-h1-lg-font-size has-h-1-lg-font-size">Menu</h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Menu"},"style":{"spacing":{"padding":{"top":"100px","bottom":"100px","left":"1rem","right":"1rem"}}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-right:1rem;padding-bottom:100px;padding-left:1rem"><!-- wp:buttons {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":50,"className":"is-style-fill","style":{"typography":{"fontSize":"1rem"},"border":{"radius":"1rem"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-fill"><a class="wp-block-button__link has-custom-font-size wp-element-button" style="border-radius:1rem;font-size:1rem">Category</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"base","width":50,"className":"is-style-outline","style":{"typography":{"fontSize":"1rem"},"border":{"radius":"1rem"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-base-background-color has-background has-custom-font-size wp-element-button" style="border-radius:1rem;font-size:1rem">Category</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"base","width":50,"className":"is-style-outline","style":{"typography":{"fontSize":"1rem"},"border":{"radius":"1rem"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-base-background-color has-background has-custom-font-size wp-element-button" style="border-radius:1rem;font-size:1rem">Category</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"base","width":50,"className":"is-style-outline","style":{"typography":{"fontSize":"1rem"},"border":{"radius":"1rem"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-base-background-color has-background has-custom-font-size wp-element-button" style="border-radius:1rem;font-size:1rem">Category</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:50px;margin-bottom:50px"/>
<!-- /wp:separator -->

<!-- wp:heading {"textAlign":"left","className":"wp-block-heading has-crimson-text-font-family has-h2-bold-font-size","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"h1-small","fontFamily":"crimson-text"} -->
<h2 class="wp-block-heading has-text-align-left has-crimson-text-font-family has-h2-bold-font-size has-h-1-small-font-size" style="font-style:normal;font-weight:700">Category</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"paragraph","fontFamily":"inter"} -->
<p class="has-inter-font-family has-paragraph-font-size">Ready-made favorites for when you’re on the move and when u are on the crave</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:group {"metadata":{"name":"menu item"},"style":{"spacing":{"padding":{"left":"2rem","right":"2rem","top":"1rem","bottom":"1rem"},"margin":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="margin-top:1rem;margin-bottom:1rem;padding-top:1rem;padding-right:2rem;padding-bottom:1rem;padding-left:2rem"><!-- wp:group {"metadata":{"name":"menu-item-description"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">heading 2</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>prargraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"width":"293px","height":"auto","sizeSlug":"large"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://aharvey.com/wp-content/uploads/2018/03/bg-placeholder.jpg" alt="" style="width:293px;height:auto"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"menu item"},"style":{"spacing":{"padding":{"left":"2rem","right":"2rem","top":"1rem","bottom":"1rem"},"margin":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="margin-top:1rem;margin-bottom:1rem;padding-top:1rem;padding-right:2rem;padding-bottom:1rem;padding-left:2rem"><!-- wp:group {"metadata":{"name":"menu-item-description"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">heading 2</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>prargraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"width":"293px","height":"auto","sizeSlug":"large"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://aharvey.com/wp-content/uploads/2018/03/bg-placeholder.jpg" alt="" style="width:293px;height:auto"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"menu item"},"style":{"spacing":{"padding":{"left":"2rem","right":"2rem","top":"1rem","bottom":"1rem"},"margin":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="margin-top:1rem;margin-bottom:1rem;padding-top:1rem;padding-right:2rem;padding-bottom:1rem;padding-left:2rem"><!-- wp:group {"metadata":{"name":"menu-item-description"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">heading 2</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>prargraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"width":"293px","height":"auto","sizeSlug":"large"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://aharvey.com/wp-content/uploads/2018/03/bg-placeholder.jpg" alt="" style="width:293px;height:auto"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:50px;margin-bottom:50px"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"h1-small","fontFamily":"crimson-text"} -->
<h2 class="wp-block-heading has-crimson-text-font-family has-h-1-small-font-size">Category</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:50px;margin-bottom:50px"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"h1-small","fontFamily":"crimson-text"} -->
<h2 class="wp-block-heading has-crimson-text-font-family has-h-1-small-font-size">Category</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:50px;margin-bottom:50px"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"h1-small","fontFamily":"crimson-text"} -->
<h2 class="wp-block-heading has-crimson-text-font-family has-h-1-small-font-size">Category</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">subheading</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>paragraph</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->