<header>
  <!-- wp:template-part {"slug":"header"} /-->
</header>

<main class="merch-page">

  <!-- Banner -->
  <section class="banner">
    <div class="container polaroid-frame">
      <h1>Merch Store</h1>
    </div>
  </section>

  <section class="container">

    <h2 class="merch-heading">Wear Patricia <br> Street Deli <span class="underline"></span></h2>
    <p>Support local flavor. Wear what this neighborhood helped rebuild together.</p>

    <div class="woocommerce">
      [products limit="12" columns="4" orderby="date" order="DESC"]
    </div>
  </section>

  
</main>

<footer>
  <!-- wp:template-part {"slug":"footer"} /-->
</footer>