<header>
  <!-- wp:template-part {"slug":"header"} /-->
</header>
<main>
  
  <div>
    <h1>Merch</h1>
  </div>
  
  <div>
    <h2>Sort by:</h2>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <hr>

  <div>
    <img src="https://placehold.co/100" alt="poroduct Image">
    <a href="#">Add To cart</a>
    <p>paragraph</p>
  </div>
  
  <div>
    <img src="https://placehold.co/100" alt="poroduct Image">
    <a href="#">Add To cart</a>
    <p>paragraph</p>
  </div>
  
  <div>
    <img src="https://placehold.co/100" alt="poroduct Image">
    <a href="#">Add To cart</a>
    <p>paragraph</p>
  </div>
  

</main>

<footer>
  <!-- wp:template-part {"slug":"footer"} /-->
</footer>
